<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <system.serviceModel>
        <bindings>            
            <wsHttpBinding>
                <binding name="wsHttp" transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <client>            
            <endpoint address="http://wsv001200.sp15dev.local/webservices/CoreService2013.svc/wsHttp"
                binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="Tridion.ContentManager.CoreService.Client.ISessionAwareCoreService"
                name="wsHttp">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <appSettings>
      <add key="Path" value="webdav/650%20Tieto%20Gadgets%20Online/Building%20Blocks/Content/Tieto%20Content/External_Resource/"/>
      <add key="ExternalContentSchema" value="tcm:2033-9689-8"/>
    </appSettings>
</configuration>